<launch>
    <!-- args that can be set from the command line or a default will be used -->
    <arg name="pattern_gui" default="false"/>
    <arg name="test_pub" default="false"/>
    <arg name="number_radios" default="0"/>

    <!-- Start GUI and include other launch files if true-->
    <node if="$(var test_pub)" pkg="gui" exec="GUI_test_pub.py" name="test_pub"/>
    <node pkg="gui" exec="GUI.py" name="GUI">
        <param name="number_radios" value="$(var number_radios)"/>
    </node>
    <node if="$(var pattern_gui)" pkg="gui" exec="simple_GUI.py" name="pattern_GUI"/>
    
</launch>